<html>
<head> 
<body>
<style>

background{
	background-color: chocolate;
}
h1 {
	color: navy;
}
p { 
color: navy; 
}
LI {
	color: navy;
}
UL {
	color: deepskyblue;
}
</style> 
</body>
</head> 
</html>